<div class="tweet-container">
  <div class="user-photo">
    
  </div>
  <div class="tweet-form">
    <%= form_with(model: tweet, local: true) do |form| %> 
  
      <div class="">
        <%= form.text_area :body, placeholder: 'What you are thinking about is...
        ' , class:"tweet-text-area" %>
      </div>
      <div class="tweet-submit">
        <%= form.submit "tuiteable!" , class:"tweet-button"%>
      </div>
    <% end %>
  </div>
</div>
