<div class="separator">
  <p class="separator-title">Explorer</p>
</div>
<% if user_signed_in? %>
  <div class="separator">
    <%= render partial: 'tweets/form', locals: {tweet: @tweet}%>
  </div>
<% end %>

<% @tweets.each do |tweet| %>
  <div class="separator">
    <%= render partial: "tweets/tweet", locals: {tweet: tweet, user_tweet: tweet.user} %>
  </div>
<% end %>
