<div class="separator">
  <p class="separator-title">Explorer</p>
</div>
<% @tweets.each do |tweet| %>
  <div class="separator">
    <%= render "tweets/tweet", locals: {tweet: tweet, user: tweet.user} %>
  </div>
<% end %>