<h1>Home</h1>
<%if user_signed_in?%>
  <%= render "new_tweet", tweet: Tweet.new %>
<%end%>

<%Tweet.where(parent_id: nil).order(created_at: :desc).each do |tweet|%>
  <%= render "tweet", tweet: tweet %>
<%end%>