<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../css/GeneralStyles.css">
  <title>Document</title>
</head>
<body>
  
  <div class="about">
    <div class="content">
      <img id="image" src="../img/fire.png">
      <input type="text" placeholder="Think before write...">
    </div>
    <button>Comment!</button>
  </div>

</body>
</html>