<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../css/GeneralStyles.css">
  <title>Document</title>
</head>
<body>
  <div class="tweet">
    <img id="image" src="../../img/tanus.png">
    <div class="content">
      <h3>Tanus <span>@tanus - 1 June</span> </h3>
      <p id='comment' >@drialnil it is inevitable!</p>
      <div class="info">
        <div class="comments">
          <img src="../../img/comment.png">
          <p>4</p>
        </div>
        <div class="likes">
          <img src="../../img/like.png">
          <p>10</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>