/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #1d2128;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.tuit {
  display: flex;
  border-top: 1px solid #ccc;
  /* border-left: 1px solid #ccc; */
  /* border-right: 1px solid #ccc; */
  padding: 15px;
}

.tuit:last-child {
  border-bottom: 1px solid #ccc;
}

.tuit-image {
  width: 50px;
  height: 50px;
}

.tuit-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.tuit-body {
  padding: 0 10px;
}

.tuit-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 11px;
}

.tuit-description {
  margin-top: 0;
  margin-bottom: 8px;
}

.tuit-title span {
  color: #999b9e;
}

.tuit-reactions {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.tuit-reactions img {
  vertical-align: middle;
}

.tuit-like {
  background: none;
  border: none;
  cursor: pointer;
}
