// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tweet {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tweet-avatar {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}

.tweet-useravatar {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
}

.tweet-content {
  width: 90%;
}

.tweet-top {
  display: flex;
  margin-bottom: 1.1rem;
}

.tweet-topleft {
  font-weight: bold;
  font-size: 1.6rem;
  display: inline-block;
  margin-right: 0.8rem;
  color: white;
}

.tweet-topright {
  font-size: 1.6rem;
  color: #999b9e;
  display: inline-block;
}

.tweet-body {
  font-size: 1.6rem;
  color: white;
}

.tweet-datetime {
  margin: 5px auto;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #999b9e;
}

.tweet-bottom {
  display: flex;
  margin-top: 0.7rem;
}

.tweet-comments {
  margin-right: 12rem;
  color: white;
}

.tweet-bottomtext {
  display: inline-block;
  margin-left: 0.4rem;
  color: inherit;
  font-size: 1.2rem;
}

.tweet-likes {
  margin-right: 12rem;
  color: white;
}
