// Place all the styles related to the Tuits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.tuit-owner {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.tuit-owner-avatar {
  margin-right: 10px;
}

.tuit-info {
  width: 100%;
}

.tuit-details {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #999b9e;
}

.tuit-body {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}

.tuit-numbers {
  display: flex;
  align-items: center;
}

.tuit-numbers-item-font {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.tuit-numbers-item {
  margin-right: 120px;
  margin-left: 5px;
}

.tuit-comment-body {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
