// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// .index-page {
//   display: flex;
//   justify-content: center;
//   background-color: #e5e5e5;
// }

//Tweet

.tweet-header {
  display: flex;
}
.tweet-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-right: 4px;
}
.tweet-username {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #999b9e;
}

.tweet-body {
  margin-top: 11px;
  margin-bottom: 7px;
  text-decoration: none;
}
.tweet-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.tweet {
  display: flex;
  border: 1px solid #999b9e;
  box-sizing: border-box;
  padding: 15px;
}
.tweet-liked {
  color: #e0245e;
  margin-left: 5px;
  margin-top: -3px;
}
.tweet-comments-icon {
  margin-left: 5px;
}
.tweet-not-liked {
  margin-left: 5px;
  margin-top: -3px;
}
.tweet-count-likes {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 120px;
}
.tweet-count-comments {
  display: flex;
  align-items: center;
}

.tweet-footer {
  display: flex;
  align-items: center;
}

//Columns

.group {
  margin-bottom: 15px;
}
.group-title {
  font-size: 32px;
  font-weight: bold;
}

.tweets-group {
  padding-left: 15px;
}
.tweets-count-icon {
  width: 15.64px;
  height: 15.64px;
}

.tweet{
  width: 100%;
  border-bottom: .1px solid white;
  padding: 1em;
}

// new tweet section
.new_tweet_container{
  padding: 1em;
  display: flex;
  border-bottom: 1px solid #fff;
}
.new_tweet,
.new_comment{
  width: 100%;
}
.tweet_text_area,
.comment_text_area{
  width: 100%;
  background-color: #1D2128;
  border: none;
  resize: none;
}
.tuiteable_btn,
.comment_btn{
  width: 80px;
  border: none;
  border-radius: 1em;
  background-color: #1DA1F2;
  color: #fff;
  font-weight: bold;
  padding: .5em 1em;
  display: block;
  margin-left: auto;
}
.tuiteable_btn:hover,
.comment_btn:hover{
  cursor: pointer;
}

.unique_tweet_container{
  padding: 1em;
  border-bottom: .5px solid #fff;
  display: flex;
}
.unique_tweet_container div{
  margin-left: 1em;
}

.create_comment{
  padding: 1em;
  border-bottom: .5px solid #fff;
  display: flex;
}
.comments_container{
  padding: 1em;
  border-bottom: .5px solid #fff;
  display: flex;
}
.comments_container div{
  margin-left: 1em;
}