// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.index-page {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
}
.column-left {
  width: 174px;
  height: 100vh;
  background-color: #1d2128;
}
.column-middle {
  width: 600px;
  height: 100vh;
  background-color: #1d2128;
  border: 1px solid #999b9e;
}
.column-right {
  width: 270px;
  height: 100vh;
  background-color: #1d2128;
}
.group {
  margin-bottom: 15px;
}
.group-title {
  font-size: 32px;
  font-weight: bold;
}

.tweets-group {
  padding-left: 15px;
}
