<% if user_signed_in? %>
  <div class="new-feature">
    <h2>New features coming soon!</h2>
    <%= image_tag "soon.png", alt: "New features" %>
  </div>
<% else %>
  <%= render partial: "users/new_form" %>
<% end %>
<footer>
  Made with bravery by Jorge Gonzalez, Andres Del Carpio and Nicolle Quispe {codeable} cohort #2 
</footer>
