<div class="follow-card">
  <div class="follow-card__image">
    <%= image_tag("girl.jpg") %>
  </div>
  <div class="follow-card__body">
    <h2 class="follow-card__name">The real Neil</h2>
    <p class="follow-card__usermail">@drialnil</p>
    <div class="text-right">
      <button class="tuit-button button-blue-outline">Follow</button>
    </div>
  </div>
</div>
