<main class="w-3/5 min-h-screen">
  <%= yield %>
  <footer class="flex">
    <p class="w-full text-center text-blue-300 my-10">
      <a href="https://github.com/waterquarks/tuiteable" target="_blank">By Alexander Chavarría, Joaquín Meza y Víctor Rodríguez</a>
    </p>
  </footer>
</main>